deepgram-sdk
fastapi
faiss-cpu
gunicorn
httpx
langchain-community
langchain-huggingface
matplotlib
networkx
numpy
openai
pandas
Pillow
plotly
python-docx
python-dotenv
pymupdf
requests
sentence-transformers
st-pages
streamlit
streamlit-mic-recorder
uvicorn
whoosh
yt-dlp
httpx