streamlit
st-pages
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pymupdf
whoosh
python-docx
python-dotenv
openai
deepgram-sdk
yt-dlp
Pillow
requests
httpx
numpy
pandas
plotly
networkx
matplotlib
streamlit-mic-recorder